<!DOCTYPE html>
<html lang=en">
<head>

    <link href="../media/css/bootstrap.css" rel="stylesheet">
	<link href="../media/css/bootstrap-responsive.css" rel="stylesheet">

	<!--custom CSS -->
    <link href="../media/css/tkn.css" rel="stylesheet">

	<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

</head>

<body>

	<div class="container">
	   <header id="overview">
    		<h1>The K Network</h1>
    		<div class="row-fluid">
        		<div class="span12">
        			<div class="well">
            			<h2>The K Network:
							<small>This stuff is amazing, insert description of The K Network Here. We're empowering teachers to choose a task and give it to their students, modelled after Bill and Melinda Gate's foundation LDC learning modules</small>
						</h2>
        			</div>
    			</div><!-- span -->
    		</div>
    		<div class="row-fluid">
                <div class="span12">
    		        <p class="alert-success well">
    		        	This is how the Steps below will work
                    </p> 
                </div>
    		</div>
	   </header>
	   
	   <section id="step1">
			<div class="row-fluid">
	 			<div class="row-fluid">
					<span class="pull-left"><h2><span class="badge badge-info step-header">Step 1</span> Choose a Subject:<small> Why Choose a Subject</small></h2></span>
				</div>
				<div class="row-fluid">
					<div class="subjects">	
						<script id="subjects-template" type="text/html">
							<div class="span2">
									<button id={{ subject }} class="subject-select btn btn-info">
										{{ subjectName }}
									</button>
								</div>
							</div>
						</script>
					</div>
				</div>
			</div><!-- /row -->
	   </section>

	   <section id="step2">
    	   <span class="pull-left"><h2><span class="badge badge-info step-header">Step 2</span> Choose a Task Type:<small>Why choose a Task Type</small></h2></span>
			<div class="row-fluid">
				<div class="span12">
				<!-- TODO: break this down into a template -->
    				<form class="form-inline">
        				<fieldset>
        			    	<legend></legend>
        			        <div class="control-group">
        			            <label class="control-label" for="input01"></label>
        			         	<div class="controls">
        			        		<script id="task-types-template" type="text/html">
								    	<div class="task-type-set pull-left span3">
        			        	        	<label class="radio row-fluid">
        			           		         	<input type="radio" class="" id="input01"> {{ taskType }}   
        			            	     	</label>
        			            	     	<div class="arrow_box row-fluid">
            			        	        	{{ taskTypeHelp }}
            			        	     	</div>
        			            	 	</div>
									</script>
        			         </div>
        			         <p class="help-block"></p>
        			     </fieldset>
        			</form>
				</div><!-- /span -->
			</div><!-- /row -->
	   </section>
        
       <section id="step3">			
         	<h2><span class="badge badge-info step-header">Step 3</span>Choose a Text Structure:</h2>
			<div class="row-fluid">
				<div class="span12 pull-left">
					<div class="tabbable tabs-left">
						<ul class="nav nav-tabs">
							<script id="task-list-template" type="text-html">
								<li class="active"><a href="#tab1" data-toggle="tab">{{ type }} </a></li>
							</script>
						</ul>   
						<div class="tab-content">
							<div class="tab-pane active" id="tab1">
								<div class="row-fluid">
									<div class="alert alert-info">
										<p>This text structure is defined as: definition.  It has the following templates available</p>
									</div>
								</div>
								<div class="row-fluid">
									<div class="text-structure-template well">
										<p>A Text Structure Goes Here</p>	
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab2">
								hi<br /><br /><br /><br /><br />hi
							</div>
						</div><!-- /tab-content -->
					</div><! -- /tabbable -->
				</div><! -- /span -->
			</div><! --/row -->
       </section>
	  

	</div> <!-- end container --> 

</body>
	<!-- javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="../media/js/bootstrap.js"></script>
	<script src="../media/js/mustache.js"></script>
	<script src="../media/js/underscore.js"></script>
	<script src="../media/js/backbone.js"></script>
	<script src="../json/subjects.js"></script>


</html>
